/.vs/FaceReco/v14/.suo
/.vs/FaceReco/v15/.suo
/.vs/FaceReco/v15/Browse.VC.db
/.vs/FaceReco/v15/Browse.VC.opendb
/.vs/FaceReco/v15/ipch/AutoPCH/3465172dab719378/HEADPOSE.ipch
/Angelina_Jolie/Angelina_Jolie_0001.jpg
/Angelina_Jolie/Angelina_Jolie_0001.txt
/Angelina_Jolie/Angelina_Jolie_0002.jpg
/Angelina_Jolie/Angelina_Jolie_0002.txt
/Angelina_Jolie/Angelina_Jolie_0003.jpg
/Angelina_Jolie/Angelina_Jolie_0003.txt
/Angelina_Jolie/Angelina_Jolie_0004.jpg
/Angelina_Jolie/Angelina_Jolie_0004.txt
/Angelina_Jolie/Angelina_Jolie_0005.jpg
/Angelina_Jolie/Angelina_Jolie_0005.txt
/Angelina_Jolie/Angelina_Jolie_0006.jpg
/Angelina_Jolie/Angelina_Jolie_0006.txt
/Angelina_Jolie/Angelina_Jolie_0007.jpg
/Angelina_Jolie/Angelina_Jolie_0007.txt
/Angelina_Jolie/Angelina_Jolie_0008.jpg
/Angelina_Jolie/Angelina_Jolie_0008.txt
/Angelina_Jolie/Angelina_Jolie_0009.jpg
/Angelina_Jolie/Angelina_Jolie_0009.txt
/Angelina_Jolie/Angelina_Jolie_0010.jpg
/Angelina_Jolie/Angelina_Jolie_0010.txt
/Angelina_Jolie/Angelina_Jolie_0011.jpg
/Angelina_Jolie/Angelina_Jolie_0011.txt
/Angelina_Jolie/Angelina_Jolie_0012.jpg
/Angelina_Jolie/Angelina_Jolie_0012.txt
/Angelina_Jolie/Angelina_Jolie_0013.jpg
/Angelina_Jolie/Angelina_Jolie_0013.txt
/Angelina_Jolie/Angelina_Jolie_0014.jpg
/Angelina_Jolie/Angelina_Jolie_0014.txt
/Angelina_Jolie/Angelina_Jolie_0015.jpg
/Angelina_Jolie/Angelina_Jolie_0015.txt
/Angelina_Jolie/Angelina_Jolie_0016.jpg
/Angelina_Jolie/Angelina_Jolie_0016.txt
/Angelina_Jolie/Angelina_Jolie_0017.jpg
/Angelina_Jolie/Angelina_Jolie_0017.txt
/Angelina_Jolie/Angelina_Jolie_0018.jpg
/Angelina_Jolie/Angelina_Jolie_0018.txt
/Angelina_Jolie/Angelina_Jolie_0019.jpg
/Angelina_Jolie/Angelina_Jolie_0019.txt
/Angelina_Jolie/Angelina_Jolie_0020.jpg
/Angelina_Jolie/Angelina_Jolie_0020.txt
/AverageFace/shape_0.obj
/AverageFace/shape_1.obj
/AverageFace/shape_10.obj
/AverageFace/shape_11.obj
/AverageFace/shape_12.obj
/AverageFace/shape_13.obj
/AverageFace/shape_14.obj
/AverageFace/shape_15.obj
/AverageFace/shape_16.obj
/AverageFace/shape_17.obj
/AverageFace/shape_18.obj
/AverageFace/shape_19.obj
/AverageFace/shape_2.obj
/AverageFace/shape_20.obj
/AverageFace/shape_21.obj
/AverageFace/shape_22.obj
/AverageFace/shape_23.obj
/AverageFace/shape_24.obj
/AverageFace/shape_25.obj
/AverageFace/shape_26.obj
/AverageFace/shape_27.obj
/AverageFace/shape_28.obj
/AverageFace/shape_29.obj
/AverageFace/shape_3.obj
/AverageFace/shape_30.obj
/AverageFace/shape_31.obj
/AverageFace/shape_32.obj
/AverageFace/shape_33.obj
/AverageFace/shape_34.obj
/AverageFace/shape_35.obj
/AverageFace/shape_36.obj
/AverageFace/shape_37.obj
/AverageFace/shape_38.obj
/AverageFace/shape_39.obj
/AverageFace/shape_4.obj
/AverageFace/shape_40.obj
/AverageFace/shape_41.obj
/AverageFace/shape_42.obj
/AverageFace/shape_43.obj
/AverageFace/shape_44.obj
/AverageFace/shape_45.obj
/AverageFace/shape_46.obj
/AverageFace/shape_5.obj
/AverageFace/shape_6.obj
/AverageFace/shape_7.obj
/AverageFace/shape_8.obj
/AverageFace/shape_9.obj
/cube.mtl
/cube.obj
/Debug/FaceReco.Build.CppClean.log
/Debug/FaceReco.log
/Debug/FaceReco.tlog/CL.command.1.tlog
/Debug/FaceReco.tlog/CL.read.1.tlog
/Debug/FaceReco.tlog/CL.write.1.tlog
/Debug/FaceReco.tlog/FaceReco.lastbuildstate
/Debug/FaceReco.tlog/link.command.1.tlog
/Debug/FaceReco.tlog/link.read.1.tlog
/Debug/FaceReco.tlog/link.write.1.tlog
/Debug/FaceReco.tlog/unsuccessfulbuild
/Debug/glm.obj
/Debug/HeadPose.obj
/Debug/main.obj
/Debug/OGL_OCV_common.obj
/Debug/stdafx.obj
/Debug/vc140.idb
/Debug/vc140.pdb
/FWH/0/shape_0.obj
/FWH/0/shape_1.obj
/FWH/0/shape_10.obj
/FWH/0/shape_11.obj
/FWH/0/shape_12.obj
/FWH/0/shape_13.obj
/FWH/0/shape_14.obj
/FWH/0/shape_15.obj
/FWH/0/shape_16.obj
/FWH/0/shape_17.obj
/FWH/0/shape_18.obj
/FWH/0/shape_19.obj
/FWH/0/shape_2.obj
/FWH/0/shape_20.obj
/FWH/0/shape_21.obj
/FWH/0/shape_22.obj
/FWH/0/shape_23.obj
/FWH/0/shape_24.obj
/FWH/0/shape_25.obj
/FWH/0/shape_26.obj
/FWH/0/shape_27.obj
/FWH/0/shape_28.obj
/FWH/0/shape_29.obj
/FWH/0/shape_3.obj
/FWH/0/shape_30.obj
/FWH/0/shape_31.obj
/FWH/0/shape_32.obj
/FWH/0/shape_33.obj
/FWH/0/shape_34.obj
/FWH/0/shape_35.obj
/FWH/0/shape_36.obj
/FWH/0/shape_37.obj
/FWH/0/shape_38.obj
/FWH/0/shape_39.obj
/FWH/0/shape_4.obj
/FWH/0/shape_40.obj
/FWH/0/shape_41.obj
/FWH/0/shape_42.obj
/FWH/0/shape_43.obj
/FWH/0/shape_44.obj
/FWH/0/shape_45.obj
/FWH/0/shape_46.obj
/FWH/0/shape_5.obj
/FWH/0/shape_6.obj
/FWH/0/shape_7.obj
/FWH/0/shape_8.obj
/FWH/0/shape_9.obj
/FWH/1/shape_0.obj
/FWH/1/shape_1.obj
/FWH/1/shape_10.obj
/FWH/1/shape_11.obj
/FWH/1/shape_12.obj
/FWH/1/shape_13.obj
/FWH/1/shape_14.obj
/FWH/1/shape_15.obj
/FWH/1/shape_16.obj
/FWH/1/shape_17.obj
/FWH/1/shape_18.obj
/FWH/1/shape_19.obj
/FWH/1/shape_2.obj
/FWH/1/shape_20.obj
/FWH/1/shape_21.obj
/FWH/1/shape_22.obj
/FWH/1/shape_23.obj
/FWH/1/shape_24.obj
/FWH/1/shape_25.obj
/FWH/1/shape_26.obj
/FWH/1/shape_27.obj
/FWH/1/shape_28.obj
/FWH/1/shape_29.obj
/FWH/1/shape_3.obj
/FWH/1/shape_30.obj
/FWH/1/shape_31.obj
/FWH/1/shape_32.obj
/FWH/1/shape_33.obj
/FWH/1/shape_34.obj
/FWH/1/shape_35.obj
/FWH/1/shape_36.obj
/FWH/1/shape_37.obj
/FWH/1/shape_38.obj
/FWH/1/shape_39.obj
/FWH/1/shape_4.obj
/FWH/1/shape_40.obj
/FWH/1/shape_41.obj
/FWH/1/shape_42.obj
/FWH/1/shape_43.obj
/FWH/1/shape_44.obj
/FWH/1/shape_45.obj
/FWH/1/shape_46.obj
/FWH/1/shape_5.obj
/FWH/1/shape_6.obj
/FWH/1/shape_7.obj
/FWH/1/shape_8.obj
/FWH/1/shape_9.obj
/FWH/10/shape_0.obj
/FWH/10/shape_1.obj
/FWH/10/shape_10.obj
/FWH/10/shape_11.obj
/FWH/10/shape_12.obj
/FWH/10/shape_13.obj
/FWH/10/shape_14.obj
/FWH/10/shape_15.obj
/FWH/10/shape_16.obj
/FWH/10/shape_17.obj
/FWH/10/shape_18.obj
/FWH/10/shape_19.obj
/FWH/10/shape_2.obj
/FWH/10/shape_20.obj
/FWH/10/shape_21.obj
/FWH/10/shape_22.obj
/FWH/10/shape_23.obj
/FWH/10/shape_24.obj
/FWH/10/shape_25.obj
/FWH/10/shape_26.obj
/FWH/10/shape_27.obj
/FWH/10/shape_28.obj
/FWH/10/shape_29.obj
/FWH/10/shape_3.obj
/FWH/10/shape_30.obj
/FWH/10/shape_31.obj
/FWH/10/shape_32.obj
/FWH/10/shape_33.obj
/FWH/10/shape_34.obj
/FWH/10/shape_35.obj
/FWH/10/shape_36.obj
/FWH/10/shape_37.obj
/FWH/10/shape_38.obj
/FWH/10/shape_39.obj
/FWH/10/shape_4.obj
/FWH/10/shape_40.obj
/FWH/10/shape_41.obj
/FWH/10/shape_42.obj
/FWH/10/shape_43.obj
/FWH/10/shape_44.obj
/FWH/10/shape_45.obj
/FWH/10/shape_46.obj
/FWH/10/shape_5.obj
/FWH/10/shape_6.obj
/FWH/10/shape_7.obj
/FWH/10/shape_8.obj
/FWH/10/shape_9.obj
/FWH/11/shape_0.obj
/FWH/11/shape_1.obj
/FWH/11/shape_10.obj
/FWH/11/shape_11.obj
/FWH/11/shape_12.obj
/FWH/11/shape_13.obj
/FWH/11/shape_14.obj
/FWH/11/shape_15.obj
/FWH/11/shape_16.obj
/FWH/11/shape_17.obj
/FWH/11/shape_18.obj
/FWH/11/shape_19.obj
/FWH/11/shape_2.obj
/FWH/11/shape_20.obj
/FWH/11/shape_21.obj
/FWH/11/shape_22.obj
/FWH/11/shape_23.obj
/FWH/11/shape_24.obj
/FWH/11/shape_25.obj
/FWH/11/shape_26.obj
/FWH/11/shape_27.obj
/FWH/11/shape_28.obj
/FWH/11/shape_29.obj
/FWH/11/shape_3.obj
/FWH/11/shape_30.obj
/FWH/11/shape_31.obj
/FWH/11/shape_32.obj
/FWH/11/shape_33.obj
/FWH/11/shape_34.obj
/FWH/11/shape_35.obj
/FWH/11/shape_36.obj
/FWH/11/shape_37.obj
/FWH/11/shape_38.obj
/FWH/11/shape_39.obj
/FWH/11/shape_4.obj
/FWH/11/shape_40.obj
/FWH/11/shape_41.obj
/FWH/11/shape_42.obj
/FWH/11/shape_43.obj
/FWH/11/shape_44.obj
/FWH/11/shape_45.obj
/FWH/11/shape_46.obj
/FWH/11/shape_5.obj
/FWH/11/shape_6.obj
/FWH/11/shape_7.obj
/FWH/11/shape_8.obj
/FWH/11/shape_9.obj
/FWH/12/shape_0.obj
/FWH/12/shape_1.obj
/FWH/12/shape_10.obj
/FWH/12/shape_11.obj
/FWH/12/shape_12.obj
/FWH/12/shape_13.obj
/FWH/12/shape_14.obj
/FWH/12/shape_15.obj
/FWH/12/shape_16.obj
/FWH/12/shape_17.obj
/FWH/12/shape_18.obj
/FWH/12/shape_19.obj
/FWH/12/shape_2.obj
/FWH/12/shape_20.obj
/FWH/12/shape_21.obj
/FWH/12/shape_22.obj
/FWH/12/shape_23.obj
/FWH/12/shape_24.obj
/FWH/12/shape_25.obj
/FWH/12/shape_26.obj
/FWH/12/shape_27.obj
/FWH/12/shape_28.obj
/FWH/12/shape_29.obj
/FWH/12/shape_3.obj
/FWH/12/shape_30.obj
/FWH/12/shape_31.obj
/FWH/12/shape_32.obj
/FWH/12/shape_33.obj
/FWH/12/shape_34.obj
/FWH/12/shape_35.obj
/FWH/12/shape_36.obj
/FWH/12/shape_37.obj
/FWH/12/shape_38.obj
/FWH/12/shape_39.obj
/FWH/12/shape_4.obj
/FWH/12/shape_40.obj
/FWH/12/shape_41.obj
/FWH/12/shape_42.obj
/FWH/12/shape_43.obj
/FWH/12/shape_44.obj
/FWH/12/shape_45.obj
/FWH/12/shape_46.obj
/FWH/12/shape_5.obj
/FWH/12/shape_6.obj
/FWH/12/shape_7.obj
/FWH/12/shape_8.obj
/FWH/12/shape_9.obj
/FWH/13/shape_0.obj
/FWH/13/shape_1.obj
/FWH/13/shape_10.obj
/FWH/13/shape_11.obj
/FWH/13/shape_12.obj
/FWH/13/shape_13.obj
/FWH/13/shape_14.obj
/FWH/13/shape_15.obj
/FWH/13/shape_16.obj
/FWH/13/shape_17.obj
/FWH/13/shape_18.obj
/FWH/13/shape_19.obj
/FWH/13/shape_2.obj
/FWH/13/shape_20.obj
/FWH/13/shape_21.obj
/FWH/13/shape_22.obj
/FWH/13/shape_23.obj
/FWH/13/shape_24.obj
/FWH/13/shape_25.obj
/FWH/13/shape_26.obj
/FWH/13/shape_27.obj
/FWH/13/shape_28.obj
/FWH/13/shape_29.obj
/FWH/13/shape_3.obj
/FWH/13/shape_30.obj
/FWH/13/shape_31.obj
/FWH/13/shape_32.obj
/FWH/13/shape_33.obj
/FWH/13/shape_34.obj
/FWH/13/shape_35.obj
/FWH/13/shape_36.obj
/FWH/13/shape_37.obj
/FWH/13/shape_38.obj
/FWH/13/shape_39.obj
/FWH/13/shape_4.obj
/FWH/13/shape_40.obj
/FWH/13/shape_41.obj
/FWH/13/shape_42.obj
/FWH/13/shape_43.obj
/FWH/13/shape_44.obj
/FWH/13/shape_45.obj
/FWH/13/shape_46.obj
/FWH/13/shape_5.obj
/FWH/13/shape_6.obj
/FWH/13/shape_7.obj
/FWH/13/shape_8.obj
/FWH/13/shape_9.obj
/FWH/14/shape_0.obj
/FWH/14/shape_1.obj
/FWH/14/shape_10.obj
/FWH/14/shape_11.obj
/FWH/14/shape_12.obj
/FWH/14/shape_13.obj
/FWH/14/shape_14.obj
/FWH/14/shape_15.obj
/FWH/14/shape_16.obj
/FWH/14/shape_17.obj
/FWH/14/shape_18.obj
/FWH/14/shape_19.obj
/FWH/14/shape_2.obj
/FWH/14/shape_20.obj
/FWH/14/shape_21.obj
/FWH/14/shape_22.obj
/FWH/14/shape_23.obj
/FWH/14/shape_24.obj
/FWH/14/shape_25.obj
/FWH/14/shape_26.obj
/FWH/14/shape_27.obj
/FWH/14/shape_28.obj
/FWH/14/shape_29.obj
/FWH/14/shape_3.obj
/FWH/14/shape_30.obj
/FWH/14/shape_31.obj
/FWH/14/shape_32.obj
/FWH/14/shape_33.obj
/FWH/14/shape_34.obj
/FWH/14/shape_35.obj
/FWH/14/shape_36.obj
/FWH/14/shape_37.obj
/FWH/14/shape_38.obj
/FWH/14/shape_39.obj
/FWH/14/shape_4.obj
/FWH/14/shape_40.obj
/FWH/14/shape_41.obj
/FWH/14/shape_42.obj
/FWH/14/shape_43.obj
/FWH/14/shape_44.obj
/FWH/14/shape_45.obj
/FWH/14/shape_46.obj
/FWH/14/shape_5.obj
/FWH/14/shape_6.obj
/FWH/14/shape_7.obj
/FWH/14/shape_8.obj
/FWH/14/shape_9.obj
/FWH/2/shape_0.obj
/FWH/2/shape_1.obj
/FWH/2/shape_10.obj
/FWH/2/shape_11.obj
/FWH/2/shape_12.obj
/FWH/2/shape_13.obj
/FWH/2/shape_14.obj
/FWH/2/shape_15.obj
/FWH/2/shape_16.obj
/FWH/2/shape_17.obj
/FWH/2/shape_18.obj
/FWH/2/shape_19.obj
/FWH/2/shape_2.obj
/FWH/2/shape_20.obj
/FWH/2/shape_21.obj
/FWH/2/shape_22.obj
/FWH/2/shape_23.obj
/FWH/2/shape_24.obj
/FWH/2/shape_25.obj
/FWH/2/shape_26.obj
/FWH/2/shape_27.obj
/FWH/2/shape_28.obj
/FWH/2/shape_29.obj
/FWH/2/shape_3.obj
/FWH/2/shape_30.obj
/FWH/2/shape_31.obj
/FWH/2/shape_32.obj
/FWH/2/shape_33.obj
/FWH/2/shape_34.obj
/FWH/2/shape_35.obj
/FWH/2/shape_36.obj
/FWH/2/shape_37.obj
/FWH/2/shape_38.obj
/FWH/2/shape_39.obj
/FWH/2/shape_4.obj
/FWH/2/shape_40.obj
/FWH/2/shape_41.obj
/FWH/2/shape_42.obj
/FWH/2/shape_43.obj
/FWH/2/shape_44.obj
/FWH/2/shape_45.obj
/FWH/2/shape_46.obj
/FWH/2/shape_5.obj
/FWH/2/shape_6.obj
/FWH/2/shape_7.obj
/FWH/2/shape_8.obj
/FWH/2/shape_9.obj
/FWH/3/shape_0.obj
/FWH/3/shape_1.obj
/FWH/3/shape_10.obj
/FWH/3/shape_11.obj
/FWH/3/shape_12.obj
/FWH/3/shape_13.obj
/FWH/3/shape_14.obj
/FWH/3/shape_15.obj
/FWH/3/shape_16.obj
/FWH/3/shape_17.obj
/FWH/3/shape_18.obj
/FWH/3/shape_19.obj
/FWH/3/shape_2.obj
/FWH/3/shape_20.obj
/FWH/3/shape_21.obj
/FWH/3/shape_22.obj
/FWH/3/shape_23.obj
/FWH/3/shape_24.obj
/FWH/3/shape_25.obj
/FWH/3/shape_26.obj
/FWH/3/shape_27.obj
/FWH/3/shape_28.obj
/FWH/3/shape_29.obj
/FWH/3/shape_3.obj
/FWH/3/shape_30.obj
/FWH/3/shape_31.obj
/FWH/3/shape_32.obj
/FWH/3/shape_33.obj
/FWH/3/shape_34.obj
/FWH/3/shape_35.obj
/FWH/3/shape_36.obj
/FWH/3/shape_37.obj
/FWH/3/shape_38.obj
/FWH/3/shape_39.obj
/FWH/3/shape_4.obj
/FWH/3/shape_40.obj
/FWH/3/shape_41.obj
/FWH/3/shape_42.obj
/FWH/3/shape_43.obj
/FWH/3/shape_44.obj
/FWH/3/shape_45.obj
/FWH/3/shape_46.obj
/FWH/3/shape_5.obj
/FWH/3/shape_6.obj
/FWH/3/shape_7.obj
/FWH/3/shape_8.obj
/FWH/3/shape_9.obj
/FWH/4/shape_0.obj
/FWH/4/shape_1.obj
/FWH/4/shape_10.obj
/FWH/4/shape_11.obj
/FWH/4/shape_12.obj
/FWH/4/shape_13.obj
/FWH/4/shape_14.obj
/FWH/4/shape_15.obj
/FWH/4/shape_16.obj
/FWH/4/shape_17.obj
/FWH/4/shape_18.obj
/FWH/4/shape_19.obj
/FWH/4/shape_2.obj
/FWH/4/shape_20.obj
/FWH/4/shape_21.obj
/FWH/4/shape_22.obj
/FWH/4/shape_23.obj
/FWH/4/shape_24.obj
/FWH/4/shape_25.obj
/FWH/4/shape_26.obj
/FWH/4/shape_27.obj
/FWH/4/shape_28.obj
/FWH/4/shape_29.obj
/FWH/4/shape_3.obj
/FWH/4/shape_30.obj
/FWH/4/shape_31.obj
/FWH/4/shape_32.obj
/FWH/4/shape_33.obj
/FWH/4/shape_34.obj
/FWH/4/shape_35.obj
/FWH/4/shape_36.obj
/FWH/4/shape_37.obj
/FWH/4/shape_38.obj
/FWH/4/shape_39.obj
/FWH/4/shape_4.obj
/FWH/4/shape_40.obj
/FWH/4/shape_41.obj
/FWH/4/shape_42.obj
/FWH/4/shape_43.obj
/FWH/4/shape_44.obj
/FWH/4/shape_45.obj
/FWH/4/shape_46.obj
/FWH/4/shape_5.obj
/FWH/4/shape_6.obj
/FWH/4/shape_7.obj
/FWH/4/shape_8.obj
/FWH/4/shape_9.obj
/FWH/5/shape_0.obj
/FWH/5/shape_1.obj
/FWH/5/shape_10.obj
/FWH/5/shape_11.obj
/FWH/5/shape_12.obj
/FWH/5/shape_13.obj
/FWH/5/shape_14.obj
/FWH/5/shape_15.obj
/FWH/5/shape_16.obj
/FWH/5/shape_17.obj
/FWH/5/shape_18.obj
/FWH/5/shape_19.obj
/FWH/5/shape_2.obj
/FWH/5/shape_20.obj
/FWH/5/shape_21.obj
/FWH/5/shape_22.obj
/FWH/5/shape_23.obj
/FWH/5/shape_24.obj
/FWH/5/shape_25.obj
/FWH/5/shape_26.obj
/FWH/5/shape_27.obj
/FWH/5/shape_28.obj
/FWH/5/shape_29.obj
/FWH/5/shape_3.obj
/FWH/5/shape_30.obj
/FWH/5/shape_31.obj
/FWH/5/shape_32.obj
/FWH/5/shape_33.obj
/FWH/5/shape_34.obj
/FWH/5/shape_35.obj
/FWH/5/shape_36.obj
/FWH/5/shape_37.obj
/FWH/5/shape_38.obj
/FWH/5/shape_39.obj
/FWH/5/shape_4.obj
/FWH/5/shape_40.obj
/FWH/5/shape_41.obj
/FWH/5/shape_42.obj
/FWH/5/shape_43.obj
/FWH/5/shape_44.obj
/FWH/5/shape_45.obj
/FWH/5/shape_46.obj
/FWH/5/shape_5.obj
/FWH/5/shape_6.obj
/FWH/5/shape_7.obj
/FWH/5/shape_8.obj
/FWH/5/shape_9.obj
/FWH/6/shape_0.obj
/FWH/6/shape_1.obj
/FWH/6/shape_10.obj
/FWH/6/shape_11.obj
/FWH/6/shape_12.obj
/FWH/6/shape_13.obj
/FWH/6/shape_14.obj
/FWH/6/shape_15.obj
/FWH/6/shape_16.obj
/FWH/6/shape_17.obj
/FWH/6/shape_18.obj
/FWH/6/shape_19.obj
/FWH/6/shape_2.obj
/FWH/6/shape_20.obj
/FWH/6/shape_21.obj
/FWH/6/shape_22.obj
/FWH/6/shape_23.obj
/FWH/6/shape_24.obj
/FWH/6/shape_25.obj
/FWH/6/shape_26.obj
/FWH/6/shape_27.obj
/FWH/6/shape_28.obj
/FWH/6/shape_29.obj
/FWH/6/shape_3.obj
/FWH/6/shape_30.obj
/FWH/6/shape_31.obj
/FWH/6/shape_32.obj
/FWH/6/shape_33.obj
/FWH/6/shape_34.obj
/FWH/6/shape_35.obj
/FWH/6/shape_36.obj
/FWH/6/shape_37.obj
/FWH/6/shape_38.obj
/FWH/6/shape_39.obj
/FWH/6/shape_4.obj
/FWH/6/shape_40.obj
/FWH/6/shape_41.obj
/FWH/6/shape_42.obj
/FWH/6/shape_43.obj
/FWH/6/shape_44.obj
/FWH/6/shape_45.obj
/FWH/6/shape_46.obj
/FWH/6/shape_5.obj
/FWH/6/shape_6.obj
/FWH/6/shape_7.obj
/FWH/6/shape_8.obj
/FWH/6/shape_9.obj
/FWH/7/shape_0.obj
/FWH/7/shape_1.obj
/FWH/7/shape_10.obj
/FWH/7/shape_11.obj
/FWH/7/shape_12.obj
/FWH/7/shape_13.obj
/FWH/7/shape_14.obj
/FWH/7/shape_15.obj
/FWH/7/shape_16.obj
/FWH/7/shape_17.obj
/FWH/7/shape_18.obj
/FWH/7/shape_19.obj
/FWH/7/shape_2.obj
/FWH/7/shape_20.obj
/FWH/7/shape_21.obj
/FWH/7/shape_22.obj
/FWH/7/shape_23.obj
/FWH/7/shape_24.obj
/FWH/7/shape_25.obj
/FWH/7/shape_26.obj
/FWH/7/shape_27.obj
/FWH/7/shape_28.obj
/FWH/7/shape_29.obj
/FWH/7/shape_3.obj
/FWH/7/shape_30.obj
/FWH/7/shape_31.obj
/FWH/7/shape_32.obj
/FWH/7/shape_33.obj
/FWH/7/shape_34.obj
/FWH/7/shape_35.obj
/FWH/7/shape_36.obj
/FWH/7/shape_37.obj
/FWH/7/shape_38.obj
/FWH/7/shape_39.obj
/FWH/7/shape_4.obj
/FWH/7/shape_40.obj
/FWH/7/shape_41.obj
/FWH/7/shape_42.obj
/FWH/7/shape_43.obj
/FWH/7/shape_44.obj
/FWH/7/shape_45.obj
/FWH/7/shape_46.obj
/FWH/7/shape_5.obj
/FWH/7/shape_6.obj
/FWH/7/shape_7.obj
/FWH/7/shape_8.obj
/FWH/7/shape_9.obj
/FWH/8/shape_0.obj
/FWH/8/shape_1.obj
/FWH/8/shape_10.obj
/FWH/8/shape_11.obj
/FWH/8/shape_12.obj
/FWH/8/shape_13.obj
/FWH/8/shape_14.obj
/FWH/8/shape_15.obj
/FWH/8/shape_16.obj
/FWH/8/shape_17.obj
/FWH/8/shape_18.obj
/FWH/8/shape_19.obj
/FWH/8/shape_2.obj
/FWH/8/shape_20.obj
/FWH/8/shape_21.obj
/FWH/8/shape_22.obj
/FWH/8/shape_23.obj
/FWH/8/shape_24.obj
/FWH/8/shape_25.obj
/FWH/8/shape_26.obj
/FWH/8/shape_27.obj
/FWH/8/shape_28.obj
/FWH/8/shape_29.obj
/FWH/8/shape_3.obj
/FWH/8/shape_30.obj
/FWH/8/shape_31.obj
/FWH/8/shape_32.obj
/FWH/8/shape_33.obj
/FWH/8/shape_34.obj
/FWH/8/shape_35.obj
/FWH/8/shape_36.obj
/FWH/8/shape_37.obj
/FWH/8/shape_38.obj
/FWH/8/shape_39.obj
/FWH/8/shape_4.obj
/FWH/8/shape_40.obj
/FWH/8/shape_41.obj
/FWH/8/shape_42.obj
/FWH/8/shape_43.obj
/FWH/8/shape_44.obj
/FWH/8/shape_45.obj
/FWH/8/shape_46.obj
/FWH/8/shape_5.obj
/FWH/8/shape_6.obj
/FWH/8/shape_7.obj
/FWH/8/shape_8.obj
/FWH/8/shape_9.obj
/FWH/9/shape_0.obj
/FWH/9/shape_1.obj
/FWH/9/shape_10.obj
/FWH/9/shape_11.obj
/FWH/9/shape_12.obj
/FWH/9/shape_13.obj
/FWH/9/shape_14.obj
/FWH/9/shape_15.obj
/FWH/9/shape_16.obj
/FWH/9/shape_17.obj
/FWH/9/shape_18.obj
/FWH/9/shape_19.obj
/FWH/9/shape_2.obj
/FWH/9/shape_20.obj
/FWH/9/shape_21.obj
/FWH/9/shape_22.obj
/FWH/9/shape_23.obj
/FWH/9/shape_24.obj
/FWH/9/shape_25.obj
/FWH/9/shape_26.obj
/FWH/9/shape_27.obj
/FWH/9/shape_28.obj
/FWH/9/shape_29.obj
/FWH/9/shape_3.obj
/FWH/9/shape_30.obj
/FWH/9/shape_31.obj
/FWH/9/shape_32.obj
/FWH/9/shape_33.obj
/FWH/9/shape_34.obj
/FWH/9/shape_35.obj
/FWH/9/shape_36.obj
/FWH/9/shape_37.obj
/FWH/9/shape_38.obj
/FWH/9/shape_39.obj
/FWH/9/shape_4.obj
/FWH/9/shape_40.obj
/FWH/9/shape_41.obj
/FWH/9/shape_42.obj
/FWH/9/shape_43.obj
/FWH/9/shape_44.obj
/FWH/9/shape_45.obj
/FWH/9/shape_46.obj
/FWH/9/shape_5.obj
/FWH/9/shape_6.obj
/FWH/9/shape_7.obj
/FWH/9/shape_8.obj
/FWH/9/shape_9.obj
/head.mtl
/head.obj
/head-obj.obj
/phong-shading.f.glsl
/phong-shading.v.glsl
/pose_0.obj
/shape_0_blender_2.obj
/shape_1.obj
/Stephen-640x480.jpg
/suzanne.obj
/x64/Debug/FaceReco.Build.CppClean.log
/x64/Debug/FaceReco.log
/x64/Debug/FaceReco.tlog/CL.command.1.tlog
/x64/Debug/FaceReco.tlog/CL.read.1.tlog
/x64/Debug/FaceReco.tlog/CL.write.1.tlog
/x64/Debug/FaceReco.tlog/FaceReco.lastbuildstate
/x64/Debug/FaceReco.tlog/unsuccessfulbuild
/x64/Debug/glm.obj
/x64/Debug/HeadPose.obj
/x64/Debug/OGL_OCV_common.obj
/x64/Debug/stdafx.obj
/x64/Debug/vc140.idb
/x64/Debug/vc140.pdb
/x64/Debug/video_test_shape.obj
/x64/Release/blas_win64_MT.dll
/x64/Release/BlendShape.obj
/x64/Release/FaceReco.exe
/x64/Release/FaceReco.iobj
/x64/Release/FaceReco.ipdb
/x64/Release/FaceReco.log
/x64/Release/FaceReco.pdb
/x64/Release/FaceReco.tlog/CL.command.1.tlog
/x64/Release/FaceReco.tlog/CL.read.1.tlog
/x64/Release/FaceReco.tlog/CL.write.1.tlog
/x64/Release/FaceReco.tlog/FaceReco.lastbuildstate
/x64/Release/FaceReco.tlog/FaceReco.write.1u.tlog
/x64/Release/FaceReco.tlog/link.command.1.tlog
/x64/Release/FaceReco.tlog/link.read.1.tlog
/x64/Release/FaceReco.tlog/link.write.1.tlog
/x64/Release/freeglut.dll
/x64/Release/glew32.dll
/x64/Release/glm.obj
/x64/Release/HeadPose.obj
/x64/Release/lapack_win64_MT.dll
/x64/Release/LSQR.obj
/x64/Release/main.obj
/x64/Release/nnls.obj
/x64/Release/nnlstest.obj
/x64/Release/OGL_OCV_common.obj
/x64/Release/stdafx.obj
/x64/Release/vc141.pdb
/.vs/FaceReco/v15/ipch/AutoPCH/3e021829039eab7b/HEADPOSE_ANOTHERMETHOD.ipch
/x64/Release/FaceReco.Build.CppClean.log
/x64/Release/HeadPose_anothermethod.obj
/x64/Release/opencv_world341.dll
